.navbar-brand {
	padding: 5px;
	img {
		max-width: 120px;
	}
}
#footer {
	text-align: center;
	padding: 20px;
	border-top: 1px solid #ccc;
	margin-top: 50px;
}
main {
	min-height: calc(100vh - 200px);
}
#sign-in,
#sign-up {
	h1 {
		margin-bottom: 40px;
	}
	text-align: center;
	max-width: 620px;
	.form-actions {
		margin-top: 30px;
	}
}